@model Travela.EntityLayer.Concrete.About
@{
    Layout = "~/Views/Default/_DefaultLayout.cshtml";
}





<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">Hakkımızda</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/Default/Index">AnaSayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Sayfa</a></li>
                <li class="breadcrumb-item active text-white">Hakkımızda</li>
            </ol>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="@Model.ImageUrl" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(/travela/img/about-img-1.png);">
                <h5 class="section-about-title pe-3">Hakkımızda</h5>
                <h1 class="mb-4">Hoşgelidniz <span class="text-primary">Travela</span></h1>
                <p class="mb-4">@Model.Description</p>
                
               
              
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<