<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">

            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="/travela/img/about-img.jpg" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>

            <div class="col-lg-7"
                 style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(/travela/img/about-img-1.png);">

                <h5 class="section-about-title pe-3">Hakkımızda</h5>

                <h1 class="mb-4">
                    <span class="text-primary">Travela</span>'ya Hoş Geldiniz
                </h1>

                <p class="mb-4">
                    Travela olarak sizlere unutulmaz seyahat deneyimleri sunmayı hedefliyoruz.
                    Profesyonel ekibimizle birlikte en güzel destinasyonları keşfetmenizi,
                    konforlu ve güvenli bir tatil geçirmenizi sağlıyoruz.
                </p>

                <p class="mb-4">
                    Yurt içi ve yurt dışı turlarımız, kaliteli konaklama seçeneklerimiz
                    ve müşteri memnuniyeti odaklı hizmet anlayışımız ile her zaman yanınızdayız.
                    Hayalinizdeki tatil için doğru adrestesiniz.
                </p>

                <div class="row gy-2 gx-4 mb-4">

                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            Birinci Sınıf Uçuşlar
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            Özenle Seçilmiş Oteller
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            5 Yıldızlı Konaklama
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            Yeni Model Araçlar
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            150’den Fazla Premium Şehir Turu
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            7/24 Destek Hizmeti
                        </p>
                    </div>

                </div>

                <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">
                    Daha Fazla Oku
                </a>

            </div>
        </div>
    </div>
</div>