<div class="container-fluid packages py-5">
    <div class="container py-5">

        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Paketler</h5>
            <h1 class="mb-0">Harika Tur Paketleri</h1>
        </div>

        <div class="packages-carousel owl-carousel">

            <!-- PACKAGE 1 -->
            <div class="packages-item">

                <div class="packages-img">

                    <img src="/travela/img/packages-4.jpg"
                         class="img-fluid w-100 rounded-top" alt="Image">

                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute"
                         style="width: 100%; bottom: 0; left: 0; z-index: 5;">

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt me-2"></i>
                            Venedik - İtalya
                        </small>

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-calendar-alt me-2"></i>
                            3 Gün
                        </small>

                        <small class="flex-fill text-center py-2">
                            <i class="fa fa-user me-2"></i>
                            2 Kişi
                        </small>

                    </div>

                    <div class="packages-price py-2 px-4">
                        ₺12.500
                    </div>

                </div>

                <div class="packages-content bg-light">

                    <div class="p-4 pb-0">

                        <h5 class="mb-0">Venedik - İtalya</h5>

                        <small class="text-uppercase">
                            Otel Fırsatları
                        </small>

                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>

                        <p class="mb-4">
                            İtalya’nın büyüleyici şehirlerinden biri olan Venedik’te
                            romantik ve unutulmaz bir tatil deneyimi yaşayın.
                        </p>

                    </div>

                    <div class="row bg-primary rounded-bottom mx-0">

                        <div class="col-6 text-start px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Detaylar
                            </a>
                        </div>

                        <div class="col-6 text-end px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Rezervasyon Yap
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PACKAGE 2 -->
            <div class="packages-item">

                <div class="packages-img">

                    <img src="/travela/img/packages-2.jpg"
                         class="img-fluid w-100 rounded-top" alt="Image">

                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute"
                         style="width: 100%; bottom: 0; left: 0; z-index: 5;">

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt me-2"></i>
                            Kaliforniya - ABD
                        </small>

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-calendar-alt me-2"></i>
                            5 Gün
                        </small>

                        <small class="flex-fill text-center py-2">
                            <i class="fa fa-user me-2"></i>
                            2 Kişi
                        </small>

                    </div>

                    <div class="packages-price py-2 px-4">
                        ₺18.900
                    </div>

                </div>

                <div class="packages-content bg-light">

                    <div class="p-4 pb-0">

                        <h5 class="mb-0">Yeni Kaliforniya Turu</h5>

                        <small class="text-uppercase">
                            Lüks Konaklama
                        </small>

                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>

                        <p class="mb-4">
                            Eğlence, sahil ve eşsiz şehir yaşamını bir arada
                            yaşayabileceğiniz özel Kaliforniya tur paketi.
                        </p>

                    </div>

                    <div class="row bg-primary rounded-bottom mx-0">

                        <div class="col-6 text-start px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Detaylar
                            </a>
                        </div>

                        <div class="col-6 text-end px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Rezervasyon Yap
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PACKAGE 3 -->
            <div class="packages-item">

                <div class="packages-img">

                    <img src="/travela/img/packages-3.jpg"
                         class="img-fluid w-100 rounded-top" alt="Image">

                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute"
                         style="width: 100%; bottom: 0; left: 0; z-index: 5;">

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt me-2"></i>
                            Japonya
                        </small>

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-calendar-alt me-2"></i>
                            7 Gün
                        </small>

                        <small class="flex-fill text-center py-2">
                            <i class="fa fa-user me-2"></i>
                            2 Kişi
                        </small>

                    </div>

                    <div class="packages-price py-2 px-4">
                        ₺24.500
                    </div>

                </div>

                <div class="packages-content bg-light">

                    <div class="p-4 pb-0">

                        <h5 class="mb-0">Japonya’yı Keşfet</h5>

                        <small class="text-uppercase">
                            Premium Tur
                        </small>

                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>

                        <p class="mb-4">
                            Geleneksel kültür ile modern yaşamın birleştiği
                            Japonya’da eşsiz bir seyahat deneyimi yaşayın.
                        </p>

                    </div>

                    <div class="row bg-primary rounded-bottom mx-0">

                        <div class="col-6 text-start px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Detaylar
                            </a>
                        </div>

                        <div class="col-6 text-end px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Rezervasyon Yap
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PACKAGE 4 -->
            <div class="packages-item">

                <div class="packages-img">

                    <img src="/travela/img/packages-1.jpg"
                         class="img-fluid w-100 rounded-top" alt="Image">

                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute"
                         style="width: 100%; bottom: 0; left: 0; z-index: 5;">

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-map-marker-alt me-2"></i>
                            Tayland
                        </small>

                        <small class="flex-fill text-center border-end py-2">
                            <i class="fa fa-calendar-alt me-2"></i>
                            6 Gün
                        </small>

                        <small class="flex-fill text-center py-2">
                            <i class="fa fa-user me-2"></i>
                            2 Kişi
                        </small>

                    </div>

                    <div class="packages-price py-2 px-4">
                        ₺21.750
                    </div>

                </div>

                <div class="packages-content bg-light">

                    <div class="p-4 pb-0">

                        <h5 class="mb-0">Tayland Tatili</h5>

                        <small class="text-uppercase">
                            Tropikal Tatil
                        </small>

                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>

                        <p class="mb-4">
                            Muhteşem plajları, egzotik kültürü ve eğlenceli gece hayatı ile
                            unutulmaz bir Tayland deneyimi sizi bekliyor.
                        </p>

                    </div>

                    <div class="row bg-primary rounded-bottom mx-0">

                        <div class="col-6 text-start px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Detaylar
                            </a>
                        </div>

                        <div class="col-6 text-end px-0">
                            <a href="#"
                               class="btn-hover btn text-white py-2 px-4">
                                Rezervasyon Yap
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
